.flex {
    display: flex;
}

.justify_between {
    justify-content: space-between;
}

.justify_center {
    justify-content: center;
}

#infoClickMap {
    background-color: white;
    color: black;
}